/**/*.log
/**/*.md
/**/*.php~
/**/*.dist.php
/**/*.dist
/**/*.cache
/**/._*
/**/.dockerignore
/**/.DS_Store
/**/.git/
/**/.gitattributes
/**/.gitignore
/**/.gitmodules
/**/docker-compose.*.yaml
/**/docker-compose.*.yml
/**/docker-compose.yaml
/**/docker-compose.yml
/**/Dockerfile
/**/Thumbs.db
html/.github/
html/docs/
html/public/bundles/
html/tests/
html/var/
html/vendor/
html/.editorconfig
html/.env.*.local
html/.env.local
html/.env.local.php
html/.env.test